{% extends 'base.html' %}

{% block content %}


<div class="row">
    <div class="col">
        <h2>{{ branch.name }}</h2>
        <p>{{ branch.description }}</p>
    </div>
    <div class="col">
        <a style="float: right;" class="btn btn-danger m-2" href="{% url 'post-create' branch.pk %}">Create post</a>
    </div>
</div>
<hr>
{% for post in branch.posts.all %}
    <div class="container card">
        <p class="m-0 bold-text"><a href="{{ post.get_absolute_url }}" style="text-decoration:none; color:black" class="stretched-link">{{ post.title }}</a></p>
        <p>{{ post.description }}</p>
        <div class="d-flex">
            <p><i class="fa fa-comments" aria-hidden="true"></i> {{ post.comments.all|length }}</p>
            <form action="{% url 'post-delete' branch.pk post.pk %}" method="post" class="m-2 ms-auto">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Delete">
            </form>
        </div>
    </div>
    <br>
{% endfor %}

{% endblock content %}
