<li>
    <div>
        <small>{{ comment.author.username }}</small>
        <p class="m-0">{{ comment.text }}</p>
    </div>
    <div style="display: flex;">
        {% if comment.comments.exists %}
            <a class="nav-link dropdown-toggle me-2" style="font-weight: 600;" data-bs-toggle="collapse" href="#CollapseComment{{ comment.pk }}" role="button" aria-expanded="false" aria-controls="CollapseComment{{ comment.pk }}">Comments</a>
        {% endif %}
        <a class="nav-link dropdown-toggle" style="font-weight: 600;" data-bs-toggle="collapse" href="#CollapseReply{{ comment.pk }}" role="button" aria-expanded="false" aria-controls="CollapseReply{{ comment.pk }}">Reply</a>
        <form action="{% url 'comment-delete' post.branch.pk post.pk comment.pk %}" method="post">{% csrf_token %}
            <button type="submit" style="font-weight: 600;" class="nav-link ms-2">Delete</button>
        </form>
    </div>
    <div class="collapse multi-collapse" id="CollapseReply{{ comment.pk }}">
        <form action="{% url 'comment-create' post.branch.pk post.pk comment.pk %}" style="border: none;" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="text_area_div"></div>
            <div class="text-area-div">
                <textarea class="text-area" name="text" rows="1" id="id_text" placeholder="Add a comment" onkeyup="textarea_resize(event, 15, 2);"></textarea>
                <button type="submit" style="vertical-align: top; float: right" class="btn btn-danger m-2">Comment</button>
            </div>
        </form>
    </div>
    {% if comment.comments.exists %}
        <div class="collapse multi-collapse" id="CollapseComment{{ comment.pk }}">
            <ul>
                {% for reply in comment.comments.all %}
                    <div class="container mt-2">
                        {% include 'forum/comment.html' with comment=reply %}
                    </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</li>