{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="mb-5">
    <small>{{ post.author.username }}</small>
    <small><a href="{{ post.branch.get_absolute_url }}">{{ post.branch.name }}</a></small>
    <p class="m-0 bold-text">{{ post.title }}</p>
    <p>{{ post.description }}</p>
</div>

<div style="display: flex; align-items: flex-start" class="rating-buttons">
    <button class="btn btn-sm btn-primary me-2" data-rating="{{ post.rating.id }}" data-value="1">
        <i class="fa fa-thumbs-up
    {% if user_thumb.value == 1 %}
    dark-color
    {% endif %}" data-rating="{{ post.rating.id }}" data-value="1"></i>
    </button>
    <p class="rating-sum me-2">{{ post.rating.get_rating }}</p>
    <button class="btn btn-sm btn-danger" data-rating="{{ post.rating.id }}" data-value="-1">
        <i class="fa fa-thumbs-down
    {% if user_thumb.value == -1 %}
    dark-color
    {% endif %}" data-rating="{{ post.rating.id }}" data-value="-1"></i>
    </button>
</div>  

<form action="{% url 'comment-create' post.branch.pk post.pk 0 %}" method="post" style="text-align: center;" class="mb-2" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="text_area_div"></div>
    
    <div class="text-area-div">
        <textarea class="text-area" name="text" rows="1" id="id_text" placeholder="Add a comment" onkeyup="textarea_resize(event, 15, 2);"></textarea>
        <button type="submit" style="vertical-align: top; float: right" class="btn btn-danger m-2">Comment</button>
    </div>
</form>

<div class="p-0 mt-4">
    {% for comment in comments %}
        {% include 'forum/comment.html' with comment=comment %}
    {% endfor %}
    
    {% if not comments.exists %}
        <p>There are no comments here yet. You can make the first one!</p>
    {% endif %}
</div>
       


{% endblock content %}

{% block script %}
<script src="{% static 'js/ratings.js' %}"></script>
{% endblock script %}