{% extends 'base.html' %}

{% block content %}


<div class="mb-5">
    <small>{{ post.author.username }}</small>
    <small><a href="{% url 'branch-detail' post.branch.id %}">{{ post.branch.name }}</a></small>
    <p class="m-0 bold-text">{{ post.title }}</p>
    <p>{{ post.description }}</p>
</div>

<form action="{% url 'comment-create' post.pk 0 %}" method="post" style="text-align: center;" class="mb-2" enctype="multipart/form-data">
    {% csrf_token %}
    <textarea class="text-area" name="text" rows="1" id="id_text" placeholder="Add a comment" onkeyup="textarea_resize(event, 15, 2);"></textarea>
    <div id="text_area_div"></div>
    <button type="submit" style="vertical-align: top;" class="btn btn-danger">Comment</button>
</form>

<div class="container p-0">
    {% for comment in comments %}
        {% include 'forum/comment.html' with comment=comment %}
    {% endfor %}
</div>


{% endblock content %}
